<h1>とうろく</h1>

<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this @user from being saved:</h2>
    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(model: @user, local: true) do |f| %>
  <table>
    <tr>
      <td><%= f.label :なまえ %></td>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <td><%= f.label :メール %></td>
      <td><%= f.email_field :email %></td>
    </tr>
    <tr>
      <td><%= f.label :パスワード %></td>
      <td><%= f.password_field :password %></td>
    </tr>
    <tr>
      <td><%= f.label :パスワードかくにん %></td>
      <td><%= f.password_field :password_confirmation %></td>
    </tr>
    <tr class="field">
      <td><%= f.label :がぞう %></td>
      <td><%= f.file_field :image, id: :user_image %></td>
    </tr>
  </table>

    <div class="user_btn"><%= f.submit "とうろく" %></div>
<% end %>
